body{background-color: black;
color:white;
width:1020px;
padding:70px;
border:2px solid rgba(20, 35, 203, 0.963);
padding-left:60px;}
*{margin:9px;
text-align:left;
font-size:24px;}
h1{padding:0px 0px 15px 15px;
font-size:60px;}
.form>input{border:none;
    background-color: black;
    border-bottom:1px solid white;
    width:900px;
    margin:0px 0px 0px 9px;
}
button{
width:226px;
height: 58px;
border:none;
padding: 5px;
margin-top:30px;
text-align:center;
background-color:white;
color:black;}